
body{
    background-color: #212529;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-light-dark{
    background-color: #2B3035;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    flex: 1;
}
